USE [master]
GO
/****** Object:  Database [BD.Pizzas]    Script Date: 10/3/2023 11:55:37 ******/
CREATE DATABASE [BD.Pizzas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD.Pizzas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD.Pizzas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD.Pizzas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD.Pizzas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD.Pizzas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD.Pizzas]
GO
/****** Object:  User [alumno]    Script Date: 10/3/2023 11:55:37 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Pizzas]    Script Date: 10/3/2023 11:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pizzas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Vegetariana] [bit] NULL,
	[Precio] [int] NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_Pizzas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pizzas] ON 

INSERT [dbo].[Pizzas] ([id], [Nombre], [Vegetariana], [Precio], [Descripcion]) VALUES (1, N'Muzzarella', 1, 1200, N'Queso, salsa de tomate y oregano')
INSERT [dbo].[Pizzas] ([id], [Nombre], [Vegetariana], [Precio], [Descripcion]) VALUES (2, N'Fugazzeta', 1, 1400, N'Queso, cebolla y oregano')
INSERT [dbo].[Pizzas] ([id], [Nombre], [Vegetariana], [Precio], [Descripcion]) VALUES (3, N'4 quesos', 1, 1700, N'Parmesano, muzzarella, roquefort y cheddar')
SET IDENTITY_INSERT [dbo].[Pizzas] OFF
GO
USE [master]
GO
